body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}



nav {
    background-color: #555;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #333;
}

nav li {
    margin: 2px;
    padding: 2px;
}

nav a:hover {
    background-color: #777;
}

nav a:hover ul {
    display: block;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

section {
    flex: 1;
    margin-right: 20px;
}

article {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article h3 {
    color: #333;
}

article p {
    color: #666;
}

article a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

article a:hover {
    text-decoration: underline;
}

    /* Estilos de la barra lateral */
    aside {
        flex-basis: 200px;
        background-color: #eee;
        padding: 10px;
        border-radius: 5px;
    }

    /* Estilos para el texto en la barra lateral */
    aside p {
        font-size: 14px;
        line-height: 1.5;
        color: #333;
        margin-bottom: 10px;
    }

    /* Estilos para la lista de enlaces */
    aside ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    aside li {
        margin-bottom: 5px;
    }

    aside a {
        color: #0066cc;
        text-decoration: none;
    }

    /* Estilos para la imagen */
    aside img {
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;
    }


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}